#skills-container {
  width: 66em;
}

#skills-wrapper {
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#skills-header-container {
  padding: 0 0 0 3em;
  text-align: center;
}

#icon-container {
  width: 100%;
}

.idk {
  height: 100%!important;
  transform: rotate(-45deg)!important;
  display: flex!important;
  flex-direction: column!important;
  justify-content: center!important;
  line-height: 2!important;
  font-size: 24px!important;
}

.huh {
  line-height: 1!important;
}

li span div i{
  font-size: 2.5em!important;
}

#header {
  /* padding: 6em 0 5em 0!important; */
}

#three, #one {

  /* background-color: #f3f3f3; */
  /* color: rgba(255, 255, 255, 0.75); */
  /* background-attachment: fixed,							fixed; */
  background: #f3f3f3 url("images/overlay2.png")!important;
  /* background-size: auto,							cover; */

  /* background: #f3f3f3 url(images/overlay.png); */
}

#two, #three {
  padding: 3em 0 1em 0!important;
}

.col-4 .image.fit img {
  width: 300px!important;
  height: 300px!important;
  max-width: 300px!important;
  object-fit: cover!important;
  max-height: 300px!important;
  margin: auto!important;
}

.image.fit {
  margin: 0 0 1em 0!important;
}

header.major {
  /* margin: 0!important; */
}

.col-12-medium p {
  height: 176px!important;
}

.fa-users {
  color: dodgerblue!important;
}